*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://pt.best-wallpaper.net/wallpaper/2560x1600/1212/Beautiful-nature-landscape-lake-mountains-trees-village-blue-sky-white-clouds_2560x1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    min-width: 200px;
    max-width: 300px;
    background-color: white;
    gap: 10px;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s;
    
}

.card:hover{
    transform: translateY(-10);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card button{
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    color: #ffff;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.card button:hover{
    background-color: #0056b3;
}